* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

:host {
  display: block;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  margin: 0;
}

.container {
  display: flex;
  height: 100%; /* Asegura que ocupe toda la altura */
}

.content {
  flex: 1; /* Ocupa todo el espacio restante */
  overflow-y: auto; /* Habilita el scroll si el contenido es muy alto */
  background-color: #f4f4f4; /* Color de fondo para diferenciar */
  padding: 2rem; /* Espaciado interno */
}

.region-container {
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 100%; /* Limita el ancho máximo del contenedor */
}

.region-container h1 {
  font-size: 2.7rem;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 2rem;
}